@if (IsLoading)
{
    <p>Loading Properties...</p>
}
else
{
    if (propertyList == null || propertyList.Count == 0)
    {
        <p>No properties available. Please add new ones.</p>
    }
    else
    {
        @foreach (var prop in propertyList)
        {
            <PropertyDetail property="@prop" OnDeleteProperty="Delete"></PropertyDetail>
        }
    }
    <button class="btn btn-primary" @onclick="() => AddRow()">Add</button>
    <button class="btn btn-success" type="submit" @onclick="() => Save()">Save</button>
}

