@using DataSure.Components.Elements.Notification


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="scrollable-tabs-container">
            <div class="scrollable-tabs">
                @foreach (var entity in entities)
                {
                    <button class="btn btn-outline-secondary me-2 @(selectedEntity.FileName == entity.FileName ? "active-tab" : "")"
                    @onclick="() => TabClicked(entity)">
                        @entity.Name
                    </button>
                }
            </div>
        </div>
    </div>
</nav>

@if (!string.IsNullOrEmpty(selectedEntity?.FileName))
{
    <div>
        <InputFile OnChange="HandleFileSelected" accept=".csv, .xlsx" />
    </div>

    <ValidationMessages />

}
